@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@400;500;800&display=swap');
$greenTxt: rgba(60,184,120);


.mainContainer{
    width: 100%;
    height: 800px;
    background-color: black;
    
    .container{
        
        max-width: 1920px;
        min-width: 200px;
        height: 800px;
        margin: 0 auto;
        background-position: initial;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(https://cutewallpaper.org/21/fashion-wallpaper-hd/28-Beautiful-HD-Rachel-Mcadams-Wallpapers.jpg);
        display: flex;
        align-items: center;
        // FOR WOMEN
        
        // https://wallpaperaccess.com/full/333783.jpg
        
        .titleAndBtn{
            width: 555px;
            height: auto;
            margin-left: 375px;

            .mainTitle{
                font-family: 'Poppins';
                color: #eee;
                font-size: 60px;
                line-height: 70px;
                font-weight: 800;
                letter-spacing: 3px;

                .greenTxt{
                    color: $greenTxt;
                    text-shadow: none;
                }
            }

            .subtitle{
                font-size: 16px;
                font-family: 'Poppins';
                font-weight: 500;
                color: #eee;
                
            }

            .buyNow{
                background-color: transparent;
                padding: 15px 50px;
                border: 2px solid #eee;
                font-family: 'Poppins';
                color: #eee;
                font-weight: 500;
                font-size: 15px;
                margin-top: 30px;
                font-weight: 400;
                cursor: pointer;
                transition: .2s;
                &:hover{
                    color: $greenTxt;
                    border: 2px solid $greenTxt;
                    
                }
            }
        }
    }
}